@import "tailwindcss";

@source "../components/**/*.{js,ts,jsx,tsx}";
@source "../app/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-background: #0A0A0C;
  --color-foreground: #FFFFFF;
  --color-studioGrey: #F5F5F7;
  --color-studioMuted: #86868B;
}

/* Taktik Paksa Tailwind v4 Base Layer */
@layer base {
  html, body, main, #__next {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    overflow-x: hidden;
    background-color: #0A0A0C;
    scroll-behavior: smooth;
    scroll-padding-top: 80px
  }

  * {
    box-sizing: border-box;
  }
}